.skills{
    height: 834px;
    background-color: white;
    &_content{
        padding-top: 150px;
        max-width: 1140px;
        margin: 0 auto;
        display: flex;
        .skills_discription{
            padding-top: 30px;
            width: 515px;
            margin-left: auto;
            h2{
                font-size: 36px;
                font-family: Poppins-Bold, sans-serif;
                margin-bottom: 34px;
            }
            p{
                color: #6C6C6C;
                text-align: left;
                line-height: 24px;
                font-family: Poppins-Medium, sans-serif;
                font-size: 16px;
                margin-bottom: 40px;
            }
            h5{
                display: flex;
                margin-bottom: 15px;
                span{
                    color: black;
                    font-family: Poppins-Bold, sans-serif;
                    font-size: 16px;
                }
                b{
                    margin-left: auto;
                    color: black;
                    font-family: Poppins-Bold, sans-serif;
                    font-size: 16px;
                }

            }
            div{
                position: relative;
                width: 100%;
                background-color: #f2f2f2;
                height: 15px;
                margin-bottom: 40px;
            }
            .design_value:after{
                content: "";
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                width: 90%;
                height: 15px;
                background-color: black;
            }
            .concept_value:after{
                content: "";
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                width: 80%;
                height: 15px;
                background-color: black;
            }
            .deadline_value:after{
                content: "";
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                width: 95%;
                height: 15px;
                background-color: black;
            }
            .result_value:after{
                content: "";
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                width: 85%;
                height: 15px;
                background-color: black;
            }
        }
    }
}

.values{
    background-image: url(../../Assets/images/Home/achivmentsBG.jpg);
    background-size: cover;
    height: 527px;
    position: relative;
    color: white;
    &_content{
        padding-top: 165px;
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        max-width: 1140px;
        position: relative;
        z-index: 2;
    }
}
.values:after{
    z-index: 1;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.teams{
    width: 100%;
    background-color: white;
    &_content{
        padding-top: 110px;
        max-width: 1140px;
        margin: 0 auto;
        h1{
            text-align: center;
            font-size: 56px;
            font-family: Poppins-Bold, sans-serif;
            line-height: 96px;
        }
        p{
            margin: 0 auto;
            width: 500px;
            color: #6C6C6C;
            text-align: center;
            line-height: 24px;
            font-family: Poppins-Medium, sans-serif;
            font-size: 16px;
        }
        ul{
            padding: 60px 0 95px 0;
            display: flex;
            justify-content: space-around;
        }
    }
}

.puzzle{
    width: 100%;
    background-color: white;
    &_content{
        padding-top: 110px;
        max-width: 1140px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .puzzle_item:first-child{
            background-image: url(../../Assets/images/About/puzzle2.jpg);
        }
        .puzzle_item{
            display: flex;
            align-items: center;
            width: 47%;
            height: 275px;
            background-size: cover;
            background-image: url(../../Assets/images/About/puzzle3.jpg);
            margin-bottom: 50px;
            button{
                margin: 0 auto;
            }
        }
        .puzzle_line{
            display: flex;
            align-items: center;
            width: 100%;
            height: 275px;
            background-size: cover;
            background-image: url(../../Assets/images/About/puzzle1.jpg);
            button{
                margin: 0 auto;
            }
        }
    }
}


.blog{
    width: 100%;
    background-color: white;
    &_content{
        padding: 125px 0;
        max-width: 1140px;
        margin: 0 auto;
        display: flex;
        .blog_posts{
            width: 50%;
            display: flex;
            justify-content: space-between;
        }
        .blog_discription{
            width: 50%;
            h2{
                font-size: 56px;
                font-family: Poppins-Bold, sans-serif;
                line-height: 96px;
            }
            p{
                width: 500px;
                color: #6C6C6C;
                line-height: 24px;
                font-family: Poppins-Medium, sans-serif;
                font-size: 16px;
                margin-bottom: 50px;
            }
        }
    }
}