.input_container, .textarea_container{
    position: relative;
    caret-color: red;
    span{
        color: red;
        position: absolute;
        top: -20px;
        left: 0;
    }
    input{
        letter-spacing: 1px;
        caret-color: red;
        box-sizing: border-box;
        padding-left: 25px;
        color: red;
    }
    input.big{
        height: 52px;
        width: 318px;
        margin-bottom: 19px;
    }
    input.big::placeholder{
        letter-spacing: 5px;
        color: #4F4F4F;
    }
    input.light{
        background-color: #f0f0f0;
    }
    input.small{
        height: 39px;
        width: 410px;
    }
    input.dark{
        background-color: #090909;
    }
    input.small:focus{
        outline: none;
        border: 1px solid white;
    }
    textarea{
        letter-spacing: 1px;
        resize: none;
        box-sizing: border-box;
        border: none;
        padding-top: 25px;
        padding-left: 25px;
        background-color: #f0f0f0;
        height: 230px;
        width: 100%;
        color: red;
    }
    textarea::placeholder{
        letter-spacing: 5px;
        color: #4F4F4F;
    }
    input.invalid, textarea.invalid{
        border: 2px solid red;
        border-radius: 4px;
    }

}   

.textarea_container{
    width: 100%;
}

@media (max-width: 720px) {
    .input_container, .textarea_container{
        width: 100%;
       input.big, input.small{
           width: 100%;
       }

    }
}