.stuff{
    width: 287px;
    img{
        width: 100%;
        margin-bottom: 20px;
    }
    h5{
        font-family: Poppins-SemiBold, sans-serif;
        font-size: 18px;
    }
    p{
        width: 100%;
        text-align: left;
        color: #a8a8a8;
        font-family: Poppins-Medium, sans-serif;
        font-size: 18px;
    }
}