.contacts {
    width: 100%;
    background-color: white;
    &_content {
        padding: 100px 0 136px 0;
        max-width: 1140px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        h2 {
            order: 2;
            text-align: right;
            line-height: 64px;
            font-family: Poppins-Bold, sans-serif;
            font-size: 48px;
        }
        .feedback_form {
            order: 4;
            margin-top: 54px;
            width: 661px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            position: relative;
            align-content: flex-start;
            button:hover{
                color: #aeaeae;
            }
            button {
                margin-top: 12px;
                color: white;
                font-size: 16px;
                box-sizing: border-box;
                background-color: black;
                width: 162px;
                height: 51px;
            }
        }
        .notes {
            order: 1;
            margin-top: 12px;
            width: 500px;
            color: #757575;
            line-height: 22px;
            font-family: Poppins-Medium, sans-serif;
            font-size: 16px;
        }
        .contacts_container:after {
            display: block;
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            background-image: url(../../Assets/images/Banner/banner.png);
            z-index: 1;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
        }
        .contacts_container {
            order: 3;
            position: relative;
            margin-top: 47px;
            padding: 63px 0 67px 44px;
            box-sizing: border-box;
            background-color: black;
            width: 371px;
            color: white;
            h3 {
                font-family: Poppins-SemiBold, sans-serif;
                font-size: 36px;
                margin-bottom: 42px;
                position: relative;
            }
            h3:after {
                content: "";
                display: block;
                position: absolute;
                height: 1px;
                background-color: #a5a5a5;
                width: 200px;
                top: 70px;
                left: 0;
            }
            h5 {
                font-family: Poppins-Bold, sans-serif;
                font-size: 16px;
                margin-bottom: 7px;
                position: relative;
            }
            h5:after {
                content: "";
                display: block;
                position: absolute;
                height: 1px;
                background-color: #a5a5a5;
                width: 200px;
                top: 100px;
                left: 0;
            }
            p {
                font-size: 14px;
                font-family: Poppins-Medium, sans-serif;
            }
            ul {
                width: 265px;
                margin-top: 55px;
                li {
                    line-height: 21px;
                    display: flex;
                    align-items: center;
                    margin-bottom: 7px;
                    img {
                        filter: invert(100%) sepia(100%) saturate(28%) hue-rotate(180deg) brightness(106%)
                            contrast(100%);
                        height: 18px;
                    }
                    p {
                        margin-left: 13px;
                        width: 284px;
                    }
                }
            }
        }
    }
}


@media (max-width: 1200px) {
    .contacts {
        .contacts_content {
            padding: 100px 20px 136px 20px;
        }
    }
}

@media (max-width: 1120px) {
    .contacts {
        .contacts_content {
            padding: 50px 20px;
            display: block;
            h2 {
                text-align: center;
                line-height: 96px;
            }
            .notes {
                margin: 0 auto;
                text-align: center;
                width: 100%;
            }
            .contacts_container {
                margin: 30px auto;
            }
            .feedback_form {
                margin: 0 auto;
            }
            button {
                margin: 12px auto 0 auto;
            }
        }
    }
}
@media (max-width: 720px) {
    .contacts {
        .contacts_content {
            .feedback_form {
                width: 100%;
            }
        }
    }
}

@media (max-width: 650px) {
    .contacts {
        .contacts_content {
            padding: 50px 20px;
            display: block;
            h2 {
                font-size: 40px;
                text-align: center;
                line-height: 40px;
            }
            .notes {
                margin: 30px auto 0 auto;
                text-align: center;
            }
            .contacts_container {
                width: 100%;
            }
        }
    }
}