.round_index{
    margin-right: 13px;
    display: flex;
    align-items: center;
    div {
        margin-right: 14px;
        box-sizing: border-box;
        font-family: Poppins-Bold, sans-serif;
        font-size: 24px;
        text-align: center;
        line-height: 102px;
        height: 110px;
        width: 110px;
        border-radius: 50%;
    }
    div.light{
        border: 7px solid #d3d3d3;
    }
    div.dark{
        border: 7px solid #353535;
    }
    p {
        line-height: 27px;
        font-family: Poppins-Medium, sans-serif;
        font-size: 18px;
        width: 100px;                     
    }
}