.reasons {
    width: 100%;
    background-color: white;
    &_content {
        padding: 135px 0 134px 0;
        max-width: 1140px;
        margin: 0 auto;
        display: flex;
        position: relative;
        img {
            height: 645px;
            width: 728px;
        }
        .reasons_value {
            box-sizing: border-box;
            padding: 64px 75px 67px 81px;
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
            position: absolute;
            left: 50%;
            top: 224px;
            width: 570px;
            background-color: white;
            h1 {
                line-height: 76px;
                font-family: Poppins-Bold, sans-serif;
                font-size: 50px;
            }
            p {
                width: 100%;
                color: #757575;
                line-height: 24px;
                font-family: Poppins-Medium, sans-serif;
                font-size: 16px;
            }
            table {
                padding-top: 46px;
                width: 100%;
                tr:first-child {
                    height: 81px;
                }
                tr {
                    td:last-child {
                        border-left: 1px solid black;
                        padding-left: 49px;
                    }
                    td {
                        vertical-align: top;
                        width: 50%;
                        h2 {
                            line-height: 36px;
                            font-family: Poppins-Bold, sans-serif;
                            font-size: 36px;
                        }
                        span {
                            color: #757575;
                            line-height: 24px;
                            font-family: Poppins-Medium, sans-serif;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

.offers {
    width: 100%;
    background-color: white;
    &_content {
        max-width: 1140px;
        margin: 0 auto;
        position: relative;
        h1 {
            line-height: 96px;
            font-family: Poppins-Bold, sans-serif;
            font-size: 64px;
        }
        p {
            width: 100%;
            color: #757575;
            line-height: 24px;
            font-family: Poppins-Medium, sans-serif;
            font-size: 16px;
        }
        .offers_container {
            justify-content: space-between;
            padding: 66px 0;
            display: flex;
        }
    }
}

.statistics {
    width: 100%;
    background-color: white;
    &_content {
        padding: 70px 0 138px 0;
        max-width: 1140px;
        margin: 0 auto;
        display: flex;
        .statistics_discription {
            padding-top: 72px;
            width: 500px;
            h2 {
                line-height: 64px;
                font-family: Poppins-Bold, sans-serif;
                font-size: 48px;
            }
            .statistics_container {
                width: 100%;
                height: 240px;
                align-content: space-between;

                display: flex;
                flex-wrap: wrap;
                margin: 50px 0 45px 0;
                padding-left: 20px;
            }
            .notes {
                padding-left: 20px;
                width: 100%;
                color: #757575;
                line-height: 22px;
                font-family: Poppins-Medium, sans-serif;
                font-size: 14px;
            }
        }
        .statstics_image {
            margin-left: auto;
            width: 513px;
            height: 579px;
        }
    }
}

.order {
    background-image: url(../../Assets/images/Home/achivmentsBG.jpg);
    background-size: cover;
    height: 527px;
    position: relative;
    color: white;
    &_content {
        padding-top: 150px;
        margin: 0 auto;
        max-width: 1140px;
        position: relative;
        z-index: 2;
        h1 {
            text-align: center;
            color: white;
            line-height: 96px;
            font-family: Poppins-Bold, sans-serif;
            font-size: 64px;
        }
        p {
            text-align: center;
            margin: 0 auto;
            color: white;
            width: 500px;
            line-height: 24px;
            font-family: Poppins-Medium, sans-serif;
            font-size: 16px;
        }
        button {
            margin: 29px auto;
        }
    }
}
.order:after {
    z-index: 1;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
}
