.puzzle_item{
    display: flex;
    align-items: center;
    height: 275px;
    background-size: cover;
    margin-bottom: 52px;
    button{
        margin: 0 auto;
    }
}
.puzzle_item.small{
    width: 48%;
}
.puzzle_item.big{
    width: 100%;
}

@media (max-width: 750px) {
    .puzzle_item{
        margin-bottom: 30px;
    }
    .puzzle_item.small{
        width: 100%;
    }
}