.feedback_slider {
    margin: 0 auto;
    max-width: 1140px;
    height: 325px;
    .swiper-button-prev,
    .swiper-button-next {
        color: #777777;
        transition: 0.6s ease;
    }
    .swiper-button-prev::after,
    .swiper-button-next::after {
        display: block;
        margin: 0 auto;
        font-weight: bold;
        font-size: 50px;
    }
    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        background: #777777;
    }
}


@media (max-width: 650px) {
    .feedback_slider {
        height: auto;
    }
}