.slider{
    box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.3);
    position: relative;
    height: 745px;
    padding-top: 234px;
    .slide_image{
        width: 50%;
        position: absolute;
        top: 0;
        right: 0;
    }
    .slider_content{
        position: relative;
        z-index: 1;
        margin: 0 auto;
        max-width: 1140px;
        h1{
            line-height: 96px;
            font-family: Poppins-Bold, sans-serif;
            font-size: 64px;
        }
        p{
            width: 515px;
            line-height: 24px;
            font-family: Poppins-Medium, sans-serif;
            font-size: 16px;
        }
        button{
            margin-left: 15.75px;
            margin-top: 195px;
            line-height: 0;
            display: inline-block;
        }
        button:last-child{
            margin-left: 31.5px;
            transform: rotate(180deg);
        }
    }
}

.about{
    overflow: hidden;
    height: 1049px;
    display: flex;
    position: relative;
    .promo{
        width: 50%;
        position: relative;
        top: 132px;
        left: 0;
        ul{
            margin: 172px 116px 0 auto;
            width: 414px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            li{
                line-height: 80px;
                display: flex;
                align-items: center;
                span{
                    margin-left: 7px;
                    font-family: Poppins-Regular, sans-serif;
                    font-size: 24px;
                }
            }
        }
    }
    .discription{
        background-image: url(../../Assets/images/Home/discriptionBG.png);
        margin-left: 42px;
        padding: 19px 0 0 26px;
        width: 528px;
        position: relative;
        top: 178px;
        h2{
            line-height: 72px;
            font-family: Poppins-Bold, sans-serif;
            font-size: 48px;
        }
        p{
            color: #6C6C6C;
            text-align: right;
            line-height: 24px;
            font-family: Poppins-Medium, sans-serif;
            font-size: 16px;
        }

    }

}