.about {
    overflow: hidden;
    height: 1049px;
    display: flex;
    position: relative;
    .promo {
        width: 50%;
        position: relative;
        top: 132px;
        left: 0;
        video {
            width: 100%;
            height: auto;
        }
        ul {
            margin: 135px 116px 0 auto;
            width: 430px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            li {
                line-height: 100px;
                display: flex;
                align-items: center;
                span {
                    margin-left: 7px;
                    font-family: Poppins-Regular, sans-serif;
                    font-size: 24px;
                }
            }
        }
    }
    .discription {
        background-image: url(../../Assets/images/Home/discriptionBG.png);
        margin-left: 42px;
        padding: 19px 0 0 26px;
        width: 528px;
        height: 900px;
        position: relative;
        top: 178px;
        h2 {
            line-height: 72px;
            font-family: Poppins-Bold, sans-serif;
            font-size: 48px;
            margin-bottom: 13px;
        }
        p {
            width: 502px;
            color: #6c6c6c;
            text-align: right;
            line-height: 24px;
            font-family: Poppins-Medium, sans-serif;
            font-size: 16px;
        }
        .text {
            text-align: justify;
            margin-bottom: 57px;
        }
        .qoute {
            margin-top: 197px;
            margin-bottom: 23px;
        }
        .qoute_owner {
            font-size: 18px;
            color: #bfbfbf;
            font-family: Poppins-Bold, san-serif;
        }
        .owner_position {
            font-size: 14px;
            color: black;
            font-family: Poppins-Bold, san-serif;
        }
    }
}

.achievments {
    background-image: url(../../Assets/images/Home/achivmentsBG.jpg);
    background-size: cover;
    height: 527px;
    position: relative;
    color: white;
    .achievments_content {
        padding-top: 154px;
        display: flex;
        margin: 0 auto;
        max-width: 1140px;
        position: relative;
        z-index: 2;
        .achievments_title {
            h1 {
                width: 685px;
                line-height: 90px;
                font-family: Poppins-Bold, sans-serif;
                font-size: 64px;
            }
            p {
                line-height: 24px;
                font-family: Poppins-Medium, sans-serif;
                font-size: 16px;
                width: 515px;
                margin-bottom: 31px;
            }
        }
        .progress_container {
            display: flex;
        }
    }
}
.achievments:after {
    z-index: 1;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.advantages {
    height: 906px;
    color: white;
    &_content {
        padding-top: 165px;
        color: black;
        display: flex;
        max-width: 1140px;
        margin: 0 auto;
        &_image {
            object-fit: scale-down;
            margin-left: auto;
            width: 45%;
            max-width: 513px;
            height: auto;
        }
        &_discription {
            width: 500px;
            h2 {
                margin-top: 91px;
                line-height: 72px;
                font-family: Poppins-Bold, sans-serif;
                font-size: 48px;
            }
            ul {
                margin-top: 25px;
                margin-bottom: 48px;
                display: flex;
                flex-wrap: wrap;
                li {
                    padding-left: 4px;
                    width: 240px;
                    line-height: 48px;
                    span {
                        color: #6c6c6c;
                        margin-left: 14.5px;
                        line-height: 24px;
                        font-family: Poppins-Medium, sans-serif;
                        font-size: 16px;
                    }
                }
            }
            p {
                padding-left: 5px;
                width: 502px;
                line-height: 27px;
                font-family: Poppins-BoldItalic, sans-serif;
                font-size: 18px;
            }
            p:last-child {
                color: #6c6c6c;
                margin-top: 12px;
                width: 502px;
                line-height: 21px;
                font-family: Poppins-Medium, sans-serif;
                font-size: 14px;
            }
        }
    }
}

.services {
    background-image: url(../../Assets/images/Home/servicesBG.jpg);
    height: 776px;
    background-position: center;
    &_content {
        padding-top: 142px;
        max-width: 1140px;
        margin: 0 auto;
        .offers_container {
            display: flex;
            justify-content: space-between;
        }
    }
    &_title {
        text-align: right;
        line-height: 90px;
        font-family: Poppins-Bold, sans-serif;
        font-size: 64px;
    }
    &_discription {
        text-align: right;
        color: #6c6c6c;
        line-height: 24px;
        font-family: Poppins-Medium, sans-serif;
        font-size: 16px;
        margin-bottom: 77px;
    }
}

.portfolio {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 665px;
    padding: 29px 0;
    img {
        width: 458px;
    }
}

@media (max-width: 1200px) {
    .services{
        .services_content{
            padding: 142px 20px 0 20px;
        }
    }
    .advantages{
        height: auto;
        .advantages_content{
            padding: 100px 20px;
            .advantages_content_discription{
                h2{
                    margin-top: 0;
                }
            }
        }
    }
    .achievments {
        .achievments_content {
            justify-content: space-between;
            padding: 154px 20px 0 20px;
            .achievments_title{
                margin-right: 30px;
                h1{
                    width: auto;
                    font-size: 48px;
                }
                p{
                    width: 450px;
                    font-size: 14px;
                }
            }
        }
    }
    .about {
        height: auto;
        display: block;
        .promo {
            width: 100%;
            ul {
                margin: 20px auto 0 auto;
            }
        }
        .discription {
            padding: 0;
            margin: 0 auto;
            h2 {
                text-align: center;
            }
            p {
                width: 100%;
            }
            button {
                margin: 0 auto;
            }
        }
    }
}

@media (max-width: 1050px) {
    .services{
        height: auto;
        .services_content{
            padding: 100px 20px;
            .services_title{
                text-align: center;
                font-size: 52px;
            }
            .services_discription{
                font-size: 16px;
                text-align: center;
                margin-bottom: 0;
            }
            .offers_container{
                flex-wrap: wrap;
                justify-content: space-around;
            }
        }
    }
    .advantages{
        .advantages_content{
            .advantages_content_image{
                width: 35%;
            }
        }
    }
    .achievments {
        height: auto;
        .achievments_content {
            padding: 50px 20px 0 20px;
            display: block;
            .progress_container {
                justify-content: space-around;
                padding-bottom: 50px;
            }
            .achievments_title{
                margin: 0;
                h1{
                    text-align: center;
                    font-size: 52px;
                }
                p{
                    font-size: 16px;
                    text-align: center;
                    width: auto;
                }
                button{
                    margin: 0 auto 40px auto;
                }

            }
        }
    }
}
@media (max-width: 850px) {
    .advantages{
        .advantages_content{
            .advantages_content_discription{
                width: 100%;
                h2{
                    text-align: center;
                }
                ul{
                    justify-content: space-between;
                }
                p{
                    text-align: center;
                    width: 100%;
                }
            }
            .advantages_content_image{
                display: none;
            }
        }
    }
}

@media (max-width: 600px) {
    .services{
        .services_content{
            padding: 50px 20px;
            .services_title{
                font-size: 48px;
            }
        }
    }
    .about {
        .discription {
            box-sizing: border-box;
            padding: 0 20px;
            width: 100%;
        }
    }
    .achievments {
        .achievments_content {
            display: block;
            .progress_container {
                justify-content: space-around;
                flex-wrap: wrap;
                padding-bottom: 50px;
                width: 100%;
            }
            .achievments_title{
                h1{
                    font-size: 40px;
                }
                p{
                    font-size: 14px;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .about {
        .promo {
            ul {
                width: 100%;
                box-sizing: border-box;
                padding: 0 20px;
            }
        }
    }
    .achievments {
        .achievments_content {
            .achievments_title{
                h1{
                    font-size: 36px;
                }
            }
        }
    }
}
