.slider{
    box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.3);
    position: relative;
    height: 745px;
    padding-top: 234px;
    .slide_image{
        width: 50%;
        position: absolute;
        top: 0;
        right: 0;
    }
    .slider_content{
        position: relative;
        z-index: 1;
        margin: 0 auto;
        max-width: 1140px;
        h1{
            line-height: 96px;
            font-family: Poppins-Bold, sans-serif;
            font-size: 64px;
        }
        p{
            width: 515px;
            line-height: 24px;
            font-family: Poppins-Medium, sans-serif;
            font-size: 16px;
        }
        button{
            margin-left: 15.75px;
            margin-top: 195px;
            line-height: 0;
            display: inline-block;
        }
        button:last-child{
            margin-left: 31.5px;
            transform: rotate(180deg);
        }
    }
}

.about{
    overflow: hidden;
    height: 1049px;
    display: flex;
    position: relative;
    .promo{
        width: 50%;
        position: relative;
        top: 132px;
        left: 0;
        ul{
            margin: 172px 116px 0 auto;
            width: 414px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            li{
                line-height: 80px;
                display: flex;
                align-items: center;
                span{
                    margin-left: 7px;
                    font-family: Poppins-Regular, sans-serif;
                    font-size: 24px;
                }
            }
        }
    }
    .discription{
        background-image: url(../../Assets/images/Home/discriptionBG.png);
        margin-left: 42px;
        padding: 19px 0 0 26px;
        width: 528px;
        position: relative;
        top: 178px;
        h2{
            line-height: 72px;
            font-family: Poppins-Bold, sans-serif;
            font-size: 48px;
        }
        p{
            color: #6C6C6C;
            text-align: right;
            line-height: 24px;
            font-family: Poppins-Medium, sans-serif;
            font-size: 16px;
        }

    }

}

.achievments{
    background-image: url(../../Assets/images/Home/achivmentsBG.jpg);
    background-size: cover;
    height: 527px;
    position: relative;
    color: white;
    .achievments_content{
        padding-top: 154px;
        display: flex;
        margin: 0 auto;
        max-width: 1140px;
        position: relative;
        z-index: 2;
        .achievments_title{
            h1{
                width: 660px;
                line-height: 96px;
                font-family: Poppins-Bold, sans-serif;
                font-size: 64px;
            }
            p{
                line-height: 24px;
                font-family: Poppins-Medium, sans-serif;
                font-size: 16px;
                width: 515px;
                margin-bottom: 31px;

            }
        }
        .achievments_numbers{
            display: flex;
            align-items: center;
            span{
                margin-right: 14px;
                box-sizing: border-box;
                font-family: Poppins-Bold, sans-serif;
                font-size: 24px;
                text-align: center;
                line-height: 103px;
                height: 110px;
                width: 110px;
                border-radius: 50%;
                border: 7px solid #353535;
            }
            p{
                line-height: 27px;
                font-family: Poppins-Medium, sans-serif;
                font-size: 18px;
                width: 100px;
            }
        }
    }
}
.achievments:after{
    z-index: 1;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.advantages{
    height: 906px;
    color: white;
    &_content{
        padding-top: 165px;
        color: black;
        display: flex;
        max-width: 1140px;
        margin: 0 auto;
        &_image{
            height: 579px;
        }
        &_discription{
            h2{
                width: 660px;
                line-height: 72px;
                font-family: Poppins-Bold, sans-serif;
                font-size: 48px; 
            }
            table{
                margin-top: 37px;
                margin-bottom: 60px;
                tr{
                    line-height: 48px;
                    td:first-child{
                        width: 235px;
                    }
                    td{
                        span{
                            color: #6C6C6C;
                            margin-left: 14.5px;
                            line-height: 24px;
                            font-family: Poppins-Medium, sans-serif;
                            font-size: 16px; 
                        }
                    }
                }
            }
            p{
                width: 502px;
                line-height: 27px;
                font-family: Poppins-BoldItalic, sans-serif;
                font-size: 18px; 
            }
            p:last-child{
                color: #6C6C6C;
                margin-top: 12px;
                width: 502px;
                line-height: 21px;
                font-family: Poppins-Medium, sans-serif;
                font-size: 14px; 
            }
        }

    }

}

.services{
    background-image: url(../../Assets/images/Home/servicesBG.jpg);
    height: 777px;
    &_content{
        padding-top: 142px;
        max-width: 1140px;
        margin: 0 auto;
        .offers_container{
            display: flex;
            justify-content: space-between;
        }
    }
    &_title{
        text-align: right;
        line-height: 96px;
        font-family: Poppins-Bold, sans-serif;
        font-size: 64px; 
    }
    &_discription{
        text-align: right;
        color: #6C6C6C;
        line-height: 24px;
        font-family: Poppins-Medium, sans-serif;
        font-size: 16px; 
        margin-bottom: 77px;
    }
}

.portfolio{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 665px;
    padding: 29px 0;
    img{
        width: 458px;
    }
}