.result {
    position: relative;
    div {
        display: flex;
        margin-bottom: 10px;
        span {
            color: black;
            font-family: Poppins-Bold, sans-serif;
            font-size: 16px;
        }
        b {
            margin-left: auto;
            color: black;
            font-family: Poppins-Bold, sans-serif;
            font-size: 16px;
        }
    }
    progress {
        margin-bottom: 30px;
        box-sizing: border-box;
        width: 100%;
        border: none;
        height: 15px;
        color: black;
        background-color: #f2f2f2;
    }
    progress::-webkit-progress-bar {
        background: #f2f2f2;
    }
    progress::-webkit-progress-value {
        background: black;
    }
}