.to_top {
    width: 42px;
    height: 41px;
    background-color: #414141;
    position: absolute;
    right: 40px;
    bottom: 78px;
    display: flex;
    box-sizing: border-box;
    padding-top: 8px;
}
.to_top::after{
    margin: 0 auto;
    display: block;
    content: "";
    border: 6px solid transparent;
    border-bottom: 10px solid white;
}
