header {
    width: 100%;
    max-width: 1920px;
    position: relative;
    .contacts_line {
        position: relative;
        z-index: 2;
        margin: 0 auto;
        background-color: black;
        max-width: 1140px;
        height: 51px;
        display: flex;
        align-items: center;
        span:last-child {
            margin-left: auto;
            margin-right: 0;
        }
        span:hover{
            color: #aeaeae;
            a{
                color: #aeaeae;
            }
        }
        span {
            cursor: pointer;
            margin-right: 24px;
            font-family: Poppins-Regular, sans-serif;
            font-size: 12px;
            color: white;
            a {
                cursor: pointer;
                font-family: Poppins-Regular, sans-serif;
                font-size: 12px;
                color: white;
            }
        }
        img {
            height: 16px;
            filter: invert(100%) sepia(100%) saturate(28%) hue-rotate(180deg) brightness(106%) contrast(100%);
            margin-right: 9px;
        }
    }
    .nav_line {
        margin: 0 auto;
        background-color: white;
        max-width: 1140px;
        height: 137px;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 2;
        h2 {
            font-family: Poppins-Bold, sans-serif;
            font-size: 36px;
            display: flex;
            align-items: center;
        }
        h2:after {
            display: flex;
            content: "";
            background-color: black;
            width: 1px;
            height: 64px;
            margin-left: 83px;
        }
        button{
            margin-left: 24px;
        }
        nav {
            margin-left: auto;
            .menu_toggle {
                display: none;
            }
            .menu_button {
                margin-right: 20px;
                display: none;
                align-items: center;
                position: relative;
                width: 50px;
                height: 70px;
                cursor: pointer;
                z-index: 7;
                span,
                span:before,
                span:after {
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 3px;
                    background-color: black;
                    transition-duration: 0.25s;
                }
                span:before {
                    content: "";
                    top: -12px;
                }
                span:after {
                    content: "";
                    top: 12px;
                }
            }
            .menu_toggle:checked ~ .menu_button span {
                transform: rotate(45deg);
                background-color: white;
            }
            .menu_toggle:checked ~ .menu_button span:before {
                top: 0;
                transform: rotate(0);
                background-color: white;
            }
            .menu_toggle:checked ~ .menu_button span:after {
                top: 0;
                transform: rotate(90deg);
                background-color: white;
            }
            .menu_box {
                position: relative;
                display: flex;
                li:last-child {
                    display: none;
                }
                li {
                    margin-right: 48px;
                    a.active {
                        color: black;
                    }
                    a {
                        font-family: Poppins-Medium, sans-serif;
                        font-size: 16px;
                        color: #989898;
                    }
                }
            }
        }
    }
}
header:before {
    top: 0;
    left: 0;
    height: 51px;
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    background-color: black;
    z-index: 1;
}
header:after {
    top: 51px;
    left: 0;
    height: 137px;
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    background-color: white;
    z-index: 1;
}

@media (max-width: 1200px) {
    header {
        .contacts_line {
            padding: 0 20px;
        }
        .nav_line {
            padding: 0 20px;
            nav {
                .menu_box {
                    li:last-child {
                        margin-right: 48px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1050px) {
    header {
        .nav_line {
            h2:after {
                display: none;
            }
            button {
                margin-right: 0;
                position: absolute;
                right: 135px;
                color: white;
                z-index: 1;
            }
            nav {
                .menu_button {
                    display: flex;
                    span,
                    span:before,
                    span:after {
                        display: block;
                        position: absolute;
                        width: 100%;
                        height: 3px;
                        background-color: black;
                        transition-duration: 0.25s;
                    }
                }
                .menu_box {
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 0;
                    visibility: hidden;
                    z-index: 5;
                    width: 0;
                    overflow: hidden;
                    height: 100vh;
                    background-color: black;
                    transition-duration: 0.5s;
                    li:first-child {
                        margin-top: 90px;
                    }
                    li {
                        font-size: 35px;
                        line-height: 70px;
                        padding-left: 20%;
                        display: block;
                        a {
                            font-size: 24px;
                        }
                        a.active {
                            color: white;
                        }
                    }
                }
                .menu_toggle:checked ~ .menu_box li:last-child {
                    display: block;
                }
                .menu_toggle:checked ~ .menu_box {
                    visibility: visible;
                    width: 75%;
                    max-width: 75%;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    header {
        .contacts_line {
            img:first-child {
                display: none;
            }
            span:nth-child(2) {
                display: none;
            }
        }
    }
}

@media (max-width: 550px) {
    header {
        .nav_line {
            button {
                display: none;
            }
        }
    }
}
