.portfolio {
    width: 100%;
    background-color: white;
    &_content {
        padding: 155px 0 120px 0;
        max-width: 1140px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 35px 20px;
        img {
            flex: 1 1 300px;
            max-width: 358px;
            height: auto;
            min-width: 300px;
        }
    }
}

@media (max-width: 1200px) {
    .portfolio {
        .portfolio_content {
            justify-content: space-around;
            padding: 155px 20px 120px 20px;
        }
    }
}

@media (max-width: 800px) {
    .portfolio {
        .portfolio_content {
            padding: 80px 20px 80px 20px;
            img {
                flex: 0 1 358px;
            }
        }
    }
}
